body{
    padding: 0;
    margin: 0;
}

.main{
    color: antiquewhite;
    border: 8px;
    border-color: black;
    position: fixed;
    left: 515px;
    align-content: center;
    width: 410px;
    height: 888px;
}

.container{
    border: 8px;
    border-color:darkred;
    position: relative;
    top: 83px;
    left: 0%;
    width: 376px;
}

.container h1{
    background-color: cadetblue;
    width: 135;
    height: 35;
    left: 0%;
}

#messages-button{
    background-color:coral;
    position: relative;
    width: 26px;
    height: 26px;
    left: 314px;
}

#calendar-button{
    background-color:lightgreen;
    position: relative;
    width: 26px;
    height: 26px;
    left: 366px;
}

#mon{
    background-color: darkgoldenrod;
    position: relative;
    width: 92px;
    height: 123px;
    left: 0%;
}

#tues{
    background-color:lightpink;
    position: relative;
    width: 92px;
    height: 123px;
    left: 95px;
}

#wed{
    background-color: darkseagreen;
    position: relative;
    width: 92px;
    height: 123px;
    left: 190px;
}

#add{
    background-color:burlywood;
    position: relative;
    width: 92px;
    height: 123px;
    left: 285px;
}

#tab-bar{
    background-color: aliceblue;
    position: fixed;
    top: 82%;
    left: 515px;
    width: 410px;
    height: 122px;
}

#home-button{
    background-color:darkviolet;
    position: relative;
    width: 26px;
    height: 26px;
    bottom: 50px;
    left: 39px;
}

#friends-button{
    background-color:hotpink;
    position: relative;
    width: 26px;
    height: 26px;
    bottom: 50px;
    left: 141px;
}

#activity-button{
    background-color:lightsalmon;
    position: relative;
    width: 26px;
    height: 26px;
    bottom: 50px;
    left: 243px;
}

#profile-button{
    background-color: gold;
    position: relative;
    width: 26px;
    height: 26px;
    bottom: 50px;
    left: 345px;
}
