body{
    padding: 0;
    margin: 0;
}

.main{
    color: antiquewhite;
    border: 8px;
    border-color: black;
    position: fixed;
    left: 515px;
    align-content: center;
    width: 410px;
    height: 888px;
}

.container{
    border: 8px;
    border-color:darkred;
    position: relative;
    top: 83px;
    left: 0%;
    width: 376px;
}

.container h1{
    background-color: cadetblue;
    width: 135;
    height: 35;
    left: 0%;
}

#messages-button{
    background-color:coral;
    width: 26px;
    height: 26px;
    right: 100%;
}

#calendar-button{
    background-color:lightgreen;
    width: 26px;
    height: 26px;
    right: 100%;
}



